version: "2"
services:
  bookstack:
    image: ghcr.io/linuxserver/bookstack
    container_name: bookstack
    environment:
      - PUID=1000
      - PGID=1000
      - APP_URL=clickondocs.onthewifi.com
      - DB_HOST=bookstack_db
      - DB_USER=clickonbookstack
      - DB_PASS=eg5vy46FGFHJ-dsf-wetr
      - DB_DATABASE=bookstackapp
    volumes:
      - /path/to/data:/config
    ports:
      - 6875:80
    restart: unless-stopped
    depends_on:
      - bookstack_db
  bookstack_db:
    image: ghcr.io/linuxserver/mariadb
    container_name: bookstack_db
    environment:
      - PUID=1000
      - PGID=1000
      - MYSQL_ROOT_PASSWORD=dfijw0-34tggdfRGYa-f
      - TZ=Africa/Johannesburg
      - MYSQL_DATABASE=bookstackapp
      - MYSQL_USER=clickonbookstack
      - MYSQL_PASSWORD=eg5vy46FGFHJ-dsf-wetr
    volumes:
      - /path/to/data:/config
    restart: unless-stopped
